body{
    margin: 0px;
}
main{
    margin:20px;
}
.navbar{
    display: flex;
    background-color: #333333;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
}
.logo{
    color:white;
    font-size: large;
    font-weight: bold;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #666666;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
.navbar li{
    float: right;
    margin-left:15px;
}

/*Count day css -----------------------------------------------------------------*/
label{
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="date"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
button{
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background: #555;
    transform: scale(1.05);
}
.result{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #444;
}